<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Monitor的MongoDb配置-->
    <add key="MonogoDbConfig" value="mongodb://yjq:123456@localhost:27017/Monitor"/>
    <!--Redis的Connection配置-->
    <add key="Redis.Connection" value="localhost,password=yjq"/>
    <!--Redis的DataBaseId配置-->
    <add key="Redis.DataBaseId" value="-1"/>
    <!--MQLogger的Connection配置-->
    <add key="MQLogger.Connection" value="localhost" />
    <!--MQLogger的UserName配置-->
    <add key="MQLogger.UserName" value="yjq" />
    <!--MQLogger的Pwd配置-->
    <add key="MQLogger.Pwd" value="yjq" />
    <!--MQLogger的VirtualHost配置-->
    <add key="MQLogger.VirtualHost" value="MonitorLog" />
    <!--授权分配ID-->
    <add key="AuthorityAppId" value="11f244e6539499ae" />
    <!--授权密钥-->
    <add key="AuthorityAppSecret" value="a359e20111f244e6539499aeae053bc9" />
    <!--授权地址配置-->
    <add key="AuthorityUrl" value="http://localhost:44786/Authority/Index" />
    <!--授权校验地址配置-->
    <add key="AuthorityCheckUrl" value="http://localhost:44786/Authority/Check" />
    <!--授权版本配置-->
    <add key="AuthorityVersion" value="1.0.0.0" />
    <!--当前用户的加密密钥-->
    <add key="CurrentUserProviderKey" value="Monitor.CurrentUser" />
    <!--Cookei签名盐值-->
    <add key="CurrentSignSalt" value="Monitor_CurrentUser_Sign" />
  </appSettings>
</configuration>