<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--Monitor的MongoDb配置-->
    <add key="MonogoDbConfig" value="mongodb://yjq:123456@localhost:27017/Monitor"/>
    <!--Redis的Connection配置-->
    <add key="Redis.Connection" value="localhost,password=yjq"/>
    <!--Redis的DataBaseId配置-->
    <add key="Redis.DataBaseId" value="-1"/>
    <!--MQLogger的Connection配置-->
    <add key="MQLogger.Connection" value="localhost" />
    <!--MQLogger的UserName配置-->
    <add key="MQLogger.UserName" value="yjq" />
    <!--MQLogger的Pwd配置-->
    <add key="MQLogger.Pwd" value="yjq" />
    <!--MQLogger的VirtualHost配置-->
    <add key="MQLogger.VirtualHost" value="MonitorLog" />
  </appSettings>
</configuration>